/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#header__container {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

main {
	flex: 1;
}

section {
	margin: 50px 0;
}

a {
    color: inherit;
    text-decoration: none;
	transition-duration: 0.5s;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover, a:hover {
	transition-duration: 500ms;
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#portfolio__gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#portfolio__gallery img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

#contact, #login-container {
	width: 34%;
	margin: auto;
}

#contact > *, #login-container > * {
	text-align: center;
}

#contact h2, #login-container h2 {
	margin-bottom: 20px;
}

#contact form, #login-form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login-form input, .modal input[type="text"], .modal select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label, #login-form label, .modal label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"], #login-form input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: #FFFFFF;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

#contact input[type="submit"]:hover, #login-form input[type="submit"]:hover {
	transition-duration: 500ms;
	background-color: #0E2F28;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

#portfolio__title {
	display: flex;
	justify-content: center;
	margin-top: 10em;
}

#portfolio__filters {
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	width: fit-content;
	padding-top: 1em;
	margin-bottom: 50px;
}

.portfolio__filters__button {
	text-align: center;
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: #FFFFFF;
	width: fit-content;
	min-width: 6.25em;
	border-radius: 60px;
	border: 1px solid #1D6154;
	padding: 0.8em 1.8em;
	transition-duration: 0.5s;
}

.portfolio__filters__button:hover {
	transition-duration: 500ms;
	color: #FFFFFF;
	background-color: #1D6154;
}


/* Login page */
#header__container__login {
	font-weight: 600;
}

#login-container__forgot-password {
	text-align: center;
	text-decoration: underline;
}

#login-container {
	flex: 1;
}

#login-container__errorfield {
	margin-top: 2em;
	height: 3em;
	padding-top: 1.5em;
	text-align: center;
}

#login-container .error-visible {
	transition-duration: 500ms;
	background-color: rgba(255,0,0,0.1);
	color: #FF0000;
}


/* Mode édition */
#header__mode-edition {
	position: fixed;
	left: 0px;
	height: 3.75em;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap : 1em;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

#portfolio__title__modification {
	padding-left: 2em;
	padding-top: 0.6em;
}

#portfolio__title__modification__text {
	padding-left: 1em;
	padding-top: 0;
}

/* Modales */
.modal {
	background-color: #FFFFFF;
	border-radius: 10px;
	border-color: #FFFFFF;
	padding: 0;
	width: 630px;
	height: 670px;
	animation: modal-open 250ms both;
}


.modal::backdrop {
	background-color: rgba(0,0,0,0.3);
}

.modal-not-visible {
	animation: modal-close 250ms both;
}

.modal-container {
	padding: 45px 105px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.modal-title {
	font-size: 26px;
	padding-bottom: 40px;
	padding-top: 15px;
}

.modal-closeicon {
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 1.5em;
}

#modal-gallery__gallerydisplay {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 10px;
	height : calc(100% - (105px + 46px));
	overflow: auto;
}

.modal-gallery__gallerydisplay__item img {
	width: 100%;
	height: 100px;
	object-fit: cover;
}

.modal-gallery__gallerydisplay__item__deletebutton {
	height: 17px;
	width: 17px;
	border-radius: 2px;
	border-width: 0;
	background-color: #000000;
	position: relative;
	top: -82%;
	right: -72%;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.trash-icon {
	color : #FFFFFF;
	font-size: 10px;
}

.modal-gallery-button-position {
	margin-top: 30px;
	padding-top: 45px;
}

.modal-ajoutphoto-button-position {
	margin-top: 26px;
	padding-top: 45px;
}

.modal-button-container {
	width: 100%;
	border-top: 1px solid rgb(179, 179, 179);
	display: flex;
	justify-content: center;
}

.modal-button {
	text-align: center;
	font-family: 'Syne';
	font-weight: 700;
	color: #FFFFFF ;
	background-color: #1D6154;
	width: 237px;
	min-width: 6.25em;
	border-radius: 60px;
	border: 1px solid #1D6154;
	height: inherit;
	padding: 0.8em 1.8em;
	transition-duration: 0.5s;
}

.modal-button:hover {
	transition-duration: 500ms;
	background-color: #0E2F28;
}

#modal-addphoto__backicon {
	position: absolute;
	top: 5%;
	left: 5%;
	font-size: 1.5em;
}

#modal-addphoto__form__picture-container {
	width: 100%;
	height: 169px;
	background-color: #E8F1F6;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

#modal-addphoto__form__picture__errorfield {
	position: absolute;
	left: 5%;
	right: 5%;
	margin-top: 1.5em;
	height: 2.8em;
	padding-top: 1.6em;
	text-align: center;
}

#modal-addphoto__form .error-visible {
	transition-duration: 500ms;
	background-color: rgba(255,0,0,0.1);
	color: #FF0000;
}

.icon-picture {
	font-size: 60px;
	color: #B9C5CC;
	padding-top: 22px;
	padding-bottom: 12px;
}

.modal form {
	width: 100%;
	margin-top: 0;
	text-align: left;
	display: flex;
	flex-direction: column;
}

#modal-addphoto__form__picture__button {
	text-align: center;
	font-family: 'Work Sans';
	font-weight: 500;
	color: #306685;
	background-color: #CBD6DC;
	width: 173px;
	min-width: 6.25em;
	border-radius: 50px;
	border: 0px solid #CBD6DC;
	height: 36px;
	padding: 0.8em 1.8em;
	position: relative;
	transition-duration: 0.5s;
}

#modal-addphoto__form__picture__button:hover {
	transition-duration: 500ms;
	color: #CBD6DC;
	background-color: #306685;
}


#modal-addphoto__form__picture__hidden {
	opacity: 0;
	display: none;
}

#modal-addphoto__form__picture__info {
	padding-top: 7px;
	font-size: 10px;
}

#modal-addphoto__form .button-disabled {
	background-color: #A7A7A7;
	border-color: #A7A7A7;
	transition-duration: 0.5s;
}

#modal-addphoto__form .button-disabled:hover {
	background-color: #A7A7A7;
	border-color: #A7A7A7;
}

#modal-addphoto__form .button-enabled {
	color: #FFFFFF;
	background-color: #1D6154;
	border-color: #1D6154;
	transition-duration: 0.5s;
}

#modal-addphoto__form .button-enabled:hover {
	transition-duration: 500ms;
	background-color: #0E2F28;
	border-color: #0E2F28;
}

#modal-addphoto__form__picture__preview {
	height: 100%;
	width: 34%;
	object-fit: cover;
}

/* Animations */
@keyframes modal-open {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes modal-close {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(100%);
		opacity: 0;
	}
}